@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

#joystickControls {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.562);
  border-radius: 75px;
}

#joystick {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 70px;
  bottom: 70px;
  background: rgba(141, 140, 140, 0.562);
  border-radius: 75px;
  pointer-events: all;
  touch-action: none;
  user-select: none;
}

.fullscreen-toggle {
  position: absolute;
  visibility: visible;
  top: 5%;
  right: 5%;
  background-color: white;
  height: 30px;
  width: 30px;
  padding: 3px 5px;
  border-radius: 2px;
  border: solid 1px black;
  font-size: 20px;
  font-weight: bold;
}

.vr-toggle {
  position: absolute;
  visibility: visible;
  bottom: 20%;
  left: 50%;
  background-color: white;
  color: black;
  padding: 12px 16px;
  border-radius: 3px;
  border: solid 1px black;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  transform: translate(-50%, -50%);
}

#vr-port {
  height: 100vh !important;
  width: 100% !important;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

#welcome-container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  min-height: 100%;
  padding: 20px;
}

main {
  z-index: 666;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eee;
  position: fixed;
  overflow-y: auto;
}

.link {
  color: rgb(0, 77, 139);
  cursor: pointer;
  text-decoration: underline;
}

button {
  color: white;
  background-color: rgb(0, 77, 139);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  font-family: 'Roboto', sans-serif;
}

.centered {
  text-align: center;
}
