@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

.full-page {
  width: 100%;
  height: 100vh;
  position: relative;
  text-align: center;
}

header {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

#vr-port {
  height: 100% !important;
  width: 100% !important;
  position: absolute;
  left: 0;
  top: 0;
  z-index: -1;
}

header h1,
header::after {
  color: white;
  text-shadow: black 0 0 10px;
}

@keyframes arrow-anim {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

header::after {
  animation: arrow-anim 1s infinite alternate ease-out;
  font-weight: bold;
  content: '￬';
  z-index: 2;
  position: relative;
  display: block;
  font-size: 36px;
  padding: 10px;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

main {
  background-color: #fff;
  margin: 0 auto;
  max-width: 500px;
  padding: 2em;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
