@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

.vr-toggle {
  position: absolute;
  bottom: 20%;
  left: 50%;
  background-color: white;
  color: black;
  padding: 12px 16px;
  border-radius: 3px;
  border: solid 1px black;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  transform: translate(-50%, -50%);
}

#vr-port {
  height: 100vh;
  width: 100vw;
}

header h1 {
  margin: 0;
  max-width: 100%;
  max-height: 100%;
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

header h1,
header::after {
  color: white;
  text-shadow: black 0 0 10px;
}

@keyframes arrow-anim {
  0% {
    bottom: 20px;
  }
  100% {
    bottom: 0;
  }
}

header::after {
  animation: arrow-anim 1s infinite alternate ease-out;
  font-weight: bold;
  left: 50%;
  position: absolute;
  display: block;
  font-size: 36px;
  content: 'ï¿¬';
  padding: 10px;
  transform: translateX(-50%);
  z-index: 2;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

main {
  background-color: #fff;
  margin: 0 auto;
  max-width: 500px;
  padding: 2em;
  border-left: 1px solid #aaa;
  border-right: 1px solid #aaa;
}

.link {
  color: blue;
  cursor: pointer;
  text-decoration: underline;
}
