@import url('https://fonts.googleapis.com/css?family=Merriweather|Roboto');

#joystickControls {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  width: 150px;
  height: 150px;
  background: rgba(255, 255, 255, 0.562);
  border-radius: 75px;
}

#joystick {
  display: inline-block;
  visibility: hidden;
  position: absolute;
  width: 100px;
  height: 100px;
  left: 70px;
  bottom: 70px;
  background: rgba(141, 140, 140, 0.562);
  border-radius: 75px;
  pointer-events: all;
  touch-action: none;
  user-select: none;
}

.fullscreen-toggle {
  position: absolute;
  visibility: visible;
  top: 5%;
  right: 5%;
  background-color: transparent;
  background-repeat: no-repeat;
  border: none;
  height: 50px;
  width: 50px;
  outline: none;
  opacity: 1;
  background-image: url('../images/fullscreen.png');
  background-position: center center;
  background-size: 100%;
}

.vr-toggle {
  position: absolute;
  visibility: visible;
  top: 5%;
  left: 5%;
  background-color: white;
  color: black;
  padding: 12px 16px;
  border-radius: 3px;
  border: solid 1px black;
  font-size: 14px;
  font-weight: bold;
  height: 50px;
  width: 100px;
  opacity: 0.6;
  outline: none;
}

#vr-port {
  height: 100vh !important;
  width: 100% !important;
}

body {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  background-color: #eee;
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Merriweather', serif;
}

#welcome-container {
  background-color: #fff;
  margin: 0 auto;
  max-width: 800px;
  box-sizing: border-box;
  min-height: 100%;
  padding: 20px;
}

#loading {
  font-size: 2em;
  color: #888;
  text-align: center;
  margin-top: 100px;
}

main {
  z-index: 420;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: #eee;
  position: fixed;
  overflow-y: auto;
}

.link {
  color: rgb(0, 77, 139);
  cursor: pointer;
  text-decoration: underline;
}

button {
  color: white;
  background-color: rgb(0, 77, 139);
  cursor: pointer;
  border: none;
  border-radius: 5px;
  padding: 7px 15px;
  font-family: 'Roboto', sans-serif;
}

.centered {
  text-align: center;
}
